<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MajuPravo</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  @@include("../blocks/modules/header/header.html")

  <!-- Main -->
  <div class="cabinet container">
    <aside class="aside ">
      <nav class='aside__nav'>
        <a class='aside__nav-link active' href="">
          <svg class="icon">
            <use xlink:href="#user" />
          </svg>
          Профиль
        </a>
        <a class='aside__nav-link' href="">
          <svg class="icon">
            <use xlink:href="#population" />
          </svg>
          Мои команды
        </a>
        <a class='aside__nav-link' href="">
          <svg class="icon">
            <use xlink:href="#to-do-list" />
          </svg>
          Мои заявки
        </a>
        <a class='aside__nav-link' href="">
          <svg class="icon">
            <use xlink:href="#notification" />
          </svg>
          Уведомления
        </a>
        <a class='aside__nav-link exit' href="">
          <svg class="icon">
            <use xlink:href="#logout" />
          </svg>
          Выйти
        </a>
      </nav>
    </aside>

    <main class="main cabinet__main">
      <!-- Title -->
      <h1 class="problem-page__title page-title flex a-center">
        Помойка во дворе жилого дома
        <span class="problem-page__status upper">В обработке</span>
      </h1>

      <!-- About -->
      <div class="problem-page__block">
        <div class="problem-page__block-title">
          Информация об обращении <span></span>
        </div>

        <div class="problem-page__metrics metrics row-flex j-between">
          <div class="problem-page__metric metric col">
            <div class="metric__title">Дата создания: </div>
            <div class="metric__value">
              <svg class="icon">
                <use xlink:href="#date" />
              </svg>
              <span>12.09.2020</span>
            </div>
          </div>

          <div class="problem-page__metric metric col">
            <div class="metric__title">Город:</div>
            <div class="metric__value">
              <svg class="icon">
                <use xlink:href="#google-place" />
              </svg>
              <span>Киев</span>
            </div>
          </div>

          <div class="problem-page__metric metric col">
            <div class="metric__title">Район:</div>
            <div class="metric__value">
              <svg class="icon">
                <use xlink:href="#google-place" />
              </svg>
              <span>Соломянский</span>
            </div>
          </div>

          <div class="problem-page__metric metric col">
            <div class="metric__title">Статус: </div>
            <div class="metric__value"><span>В обработке</span></div>
          </div>

          <div class="problem-page__metric metric col">
            <div class="metric__title">Просмотров:</div>
            <div class="metric__value">
              <svg class="icon">
                <use xlink:href="#eye" />
              </svg>
              <span>126 255</span>
            </div>
          </div>

          <div class="problem-page__metric metric col">
            <div class="metric__title">Подписей:</div>
            <div class="metric__value">
              <svg class="icon">
                <use xlink:href="#like" />
              </svg>
              <span>12 256</span>
            </div>
          </div>
        </div>

        <div class="problem-page__block-descr">
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
            rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
            in
            ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
            nulla pariatur?
          </p>
        </div>

        <button class='btn btn_white btn_icon problem-page__subscribe'>
          <svg class="icon">
            <use xlink:href="#like" />
          </svg>
          Подписаться
        </button>
      </div>

      <!-- Map -->
      <div class="problem-page__block">
        <div class="problem-page__block-title">
          Место на карте <span></span>
        </div>

        <div class="problem-page__map">
          <img src="img/temp/map.jpg" alt="">
          <div class="problem-page__map-plate upper">
            <div class="problem-page__map-title">Адрес</div>
            <div class="problem-page__map-value">Киев, Соломянский район, пр. Отрадный 15/2</div>
          </div>
        </div>
      </div>

      <div class="problem-page__block">
        <div class="problem-page__block-title">
          Подследние подписи <span></span>
        </div>

        <div class="subscribers row-flex">
          <!-- Person -->
          <div class="subscribers__person col">
            <div class="subscribers__image">
              <img src="img/temp/person-photo.png" alt="">
            </div>
            <div class="subscribers__name">Роман Богодун</div>
          </div>

          <!-- Person -->
          <div class="subscribers__person col">
            <div class="subscribers__image">
              <img src="img/temp/person-photo.png" alt="">
            </div>
            <div class="subscribers__name">Роман Богодун</div>
          </div>

          <!-- Person -->
          <div class="subscribers__person col">
            <div class="subscribers__image">
              <img src="img/temp/person-photo.png" alt="">
            </div>
            <div class="subscribers__name">Роман Богодун</div>
          </div>

          <!-- Person -->
          <div class="subscribers__person col">
            <div class="subscribers__image">
              <img src="img/temp/person-photo.png" alt="">
            </div>
            <div class="subscribers__name">Роман Богодун</div>
          </div>

          <!-- Person -->
          <div class="subscribers__person col">
            <div class="subscribers__image">
              <img src="img/temp/person-photo.png" alt="">
            </div>
            <div class="subscribers__name">Роман Богодун</div>
          </div>

          <!-- Person -->
          <div class="subscribers__person col">
            <div class="subscribers__image">
              <img src="img/temp/person-photo.png" alt="">
            </div>
            <div class="subscribers__name">Роман Богодун</div>
          </div>

          <!-- Person -->
          <div class="subscribers__person hidden-lg col">
            <div class="subscribers__image">
              <img src="img/temp/person-photo.png" alt="">
            </div>
            <div class="subscribers__name">Роман Богодун</div>
          </div>

          <!-- Person -->
          <div class="subscribers__person hidden-lg col">
            <div class="subscribers__image">
              <img src="img/temp/person-photo.png" alt="">
            </div>
            <div class="subscribers__name">Роман Богодун</div>
          </div>
        </div>
      </div>

      <div class="problem-page__block">
        <div class="problem-page__block-title">
          Обсуждение проблемы <span></span>
        </div>
      </div>
    </main>
  </div>
  @@include("../blocks/modules/footer/footer.html")
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>