<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MajuPravo</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  @@include("../blocks/modules/header/header.html")

  <!-- Main -->
  <main class="main main__page">
    <!-- Problems -->
    <section class="section news__wrap">
      <div class="container">
        <!-- FIlter -->
        <div class="filter flex flex-wrap">
          <div class="filter__group filter__group-mini">
            <label for="" class="label jumb__form-label">Выберите категорию</label>

            <div class="dropdown">
              <div class="dropdown__value input">Политические партии</div>
              <ul class="dropdown__list">
                <li data-value='${value}'>${value1}</li>
                <li data-value='${value}'>${value2}</li>
                <li data-value='${value}'>${value3}</li>
              </ul>
            </div>
          </div>

          <div class="filter__group filter__group-mini">
            <label for="" class="label jumb__form-label">Сортировка</label>

            <div class="dropdown">
              <div class="dropdown__value input">Самые популярные</div>
              <ul class="dropdown__list">
                <li data-value='${value}'>${value1}</li>
                <li data-value='${value}'>${value2}</li>
                <li data-value='${value}'>${value3}</li>
              </ul>
            </div>
          </div>

          <div class="filter__group">
            <label for="" class="label jumb__form-label">Поиск</label>
            <div class="subscribe__inner input__wrap search">
              <input class="input w-100" type="text" placeholder="Введите поисковый запрос">
              <button class="btn search__btn input__btn">
                <svg class="icon">
                  <use xlink:href="#search"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- Title -->
        <h2 class="section__title">Последние новости</h2>

        <!-- List -->
        <div class="news__list row-flex">
          <a href='problem-page.html' class="news news_image col" style='background-image: url(img/temp/news-bg.png);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col" style='background-image: url(img/temp/problem.jpg);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col"
            style='background-image: url(img/temp/problem-solve.jpg);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col" style='background-image: url(img/temp/news-bg.png);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col" style='background-image: url(img/temp/problem.jpg);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col"
            style='background-image: url(img/temp/problem-solve.jpg);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col" style='background-image: url(img/temp/news-bg.png);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col" style='background-image: url(img/temp/problem.jpg);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col"
            style='background-image: url(img/temp/problem-solve.jpg);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col" style='background-image: url(img/temp/news-bg.png);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col" style='background-image: url(img/temp/problem.jpg);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>

          <a href='problem-page.html' class="news news_image col" style='background-image: url(img/temp/news-bg.png);'>
            <div class="news__title">список политических партий, которые участвуют в решении общественных проблем</div>
          </a>
        </div>

        <!-- Pagination -->
        <ul class="pagination flex j-center upper">
          <li class='pagination__arrow'>
            <a class='pagination__link pagination__link_arrow pagination__link_prev' href="#">
              <svg class="icon">
                <use xlink:href="#down-arrow" />
              </svg>
            </a>
          </li>
          <li class='pagination__item'>
            <a class='pagination__link active' href="#">1</a>
          </li>
          <li class='pagination__item'>
            <a class='pagination__link' href="#">2</a>
          </li>
          <li class='pagination__item'>
            <a class='pagination__link' href="#">3</a>
          </li>
          <li class='pagination__item'>
            <a class='pagination__link' href="#">4</a>
          </li>
          <li class='pagination__arrow'>
            <a class='pagination__link pagination__link_arrow pagination__link_next' href="#">
              <svg class="icon">
                <use xlink:href="#down-arrow" />
              </svg>
            </a>
          </li>
        </ul>

      </div>
    </section>
  </main>
  @@include("../blocks/modules/footer/footer.html")
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>