<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MajuPravo</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  @@include("../blocks/modules/header/header.html")

  <!-- Main -->
  <main class="main main__page">
    <!-- Paganation -->
    <div class="breadcrumbs container">
      <a href="news.html" class="breadcrumbs__item">Новости</a>
      <a href="#" class="breadcrumbs__item active">Малый бизнес поддержал ...</a>
    </div>


    <article class='news-article container'>
      <!-- Title -->
      <h1 class="news-article__title page-title text-center">
        Малый бизнес поддержал решение общественных проблем на сервисе «Маю&nbsp;Право»
      </h1>

      <!-- Pub date -->
      <div class="pub-date flex a-center">
        <svg class="icon">
          <use xlink:href="#date" />
        </svg>
        12.09.2020 17:59
      </div>

      <div class="news-article__banner">
        <img src="img/temp/article-banner.jpg" alt="">
      </div>

      <div class="news-article__content text-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis leo non nunc faucibus consequat. Fusce
          commodo odio velit, interdum sagittis lacus molestie at. Mauris ac bibendum quam, sed tempor felis. Fusce eget
          est libero. Phasellus ullamcorper nunc id nibh feugiat, id luctus nisl maximus. Cras vehicula massa a pharetra
          varius. Donec sed est arcu. Praesent ultricies congue urna quis eleifend. Morbi elit ligula, pretium nec lacus
          id, cursus dignissim nunc. Aliquam lobortis a ante ac euismod. Suspendisse eget sem urna. Ut sagittis mi arcu.
          Mauris venenatis tellus ex, non mollis ante dapibus ut.
        </p>
        <p>
          In volutpat augue at nisl facilisis pellentesque. Donec lobortis tellus vitae dolor finibus tempor. Integer
          placerat faucibus lectus, vel mollis est consectetur vitae. Etiam posuere, metus eget rutrum maximus, mauris
          felis consequat lacus, eget sollicitudin est urna interdum velit. Praesent eget sapien et dolor placerat
          feugiat. In hac habitasse platea dictumst. Sed rutrum sagittis mi, at volutpat dolor. Maecenas ac neque eros.
          Nullam vitae massa tincidunt, euismod velit ac, finibus risus. Vestibulum orci dolor, congue in feugiat non,
          dapibus quis eros.
        </p>
        <p>
          Cras ut quam enim. Nulla sit amet purus iaculis, rhoncus nisi eget, euismod purus. Vestibulum sit amet lectus
          semper elit porttitor euismod. Nam volutpat elementum velit eu viverra. In tempor tincidunt massa nec luctus.
          Aenean pretium libero risus, ut maximus eros condimentum sodales. Mauris pulvinar imperdiet eros. Pellentesque
          vestibulum ipsum eu eros egestas, at egestas risus maximus. Quisque quis metus et augue tincidunt imperdiet.
          Nam quis mauris auctor, accumsan eros quis, laoreet massa. Ut ac tincidunt augue, egestas accumsan mauris.
          Aliquam malesuada semper risus at sagittis. In id tempus sem. Donec a semper mauris, vitae semper erat. Morbi
          vitae interdum sapien, eu hendrerit justo. Sed eleifend sagittis mauris sed cursus.
        </p>
        <p>
          Ut commodo nisi ut massa pulvinar egestas. Proin fermentum rutrum nisi nec egestas. Duis vel malesuada dui.
          Duis feugiat volutpat eros et aliquet. Fusce et ullamcorper purus. Mauris consectetur, sapien ac auctor
          tempus, magna ligula tincidunt ligula, sed tempus dui est quis enim. Curabitur augue mauris, maximus non diam
          vitae, imperdiet consequat lectus. Sed ac ligula in ex gravida scelerisque sed et turpis. Cras vel tristique
          metus. Sed cursus orci vitae accumsan maximus. Proin euismod, justo vel rutrum volutpat, leo turpis rhoncus
          sapien, id tempor tellus diam vel nisi. Vivamus turpis lorem, porta consectetur erat at, accumsan sodales
          lacus. Integer egestas lorem finibus dapibus cursus. Nulla et libero in nulla pharetra aliquam varius sit amet
          sapien. Maecenas accumsan nibh ligula, in condimentum est semper eu.
        </p>
      </div>
    </article>

  </main>
  @@include("../blocks/modules/footer/footer.html")
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>