<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MajuPravo</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  @@include("../blocks/modules/header/header.html")

  <!-- Main -->
  <main class="main main__page">
    <!-- Paganation -->
    <div class="breadcrumbs container">
      <a href="problems.html" class="breadcrumbs__item">Наши команды</a>
      <a href="#" class="breadcrumbs__item active">Слуга народа</a>
    </div>

    <!-- Team Info -->
    <section class="section team-page">
      <div class="container">
        <!-- Title -->
        <h1 class="team-page__title page-title flex a-center">
          Слуга Народа
          <span class="team-page__type upper">Политическая партия</span>
        </h1>

        <!-- About -->
        <div class="team__about row-flex a-start block">
          <!-- Image -->
          <div class="team__about-logo col">
            <img src="img/temp/team-logo.png" alt="">
          </div>

          <!-- Info -->
          <div class="team__about-info col">
            <h2 class="block__title">
              О команде
              <span></span>
            </h2>

            <div class="team__about-descr">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
              incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
              vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
              dolorem eum fugiat quo voluptas nulla pariatur?
            </div>
          </div>

        </div>

        <!-- Members -->
        <div class="block team__members">
          <!-- Block title -->
          <h2 class="block__title">
            Участники команды
            <span></span>
          </h2>

          <!-- List -->
          <div class="team__members-lis row-flex">
            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>

            <!-- Member -->
            <div class="team__member col">
              <div class="team__member-image">
                <img src="img/temp/person-photo.png" alt="">
              </div>
              <div class="team__member-name">Роман Богодун</div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>
  @@include("../blocks/modules/footer/footer.html")
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>